In [1]:
# get python root site-packages path on my computer
import site
site.getsitepackages()

['E:\\anaconda3', 'E:\\anaconda3\\lib\\site-packages']

In [2]:
import requests # for making requests
from pprint import pprint # to make printing prettier

In [3]:
standing_url = "https://fbref.com/en/comps/9/Premier-League-Stats" # home page of fbref.com

In [4]:
data = requests.get(standing_url) # make requests to fbref home page

In [5]:
from bs4 import BeautifulSoup # for web scrapping

In [6]:
# getting urls of premiere league teams/squads

soup = BeautifulSoup(data.text)
standing_table = soup.select('table.stats_table')[0] #select the first team (in the standing) url, Manchester City, from a table with className='stats_table'
links = standing_table.find_all('a') # find all html anchor tags from the table 
links = [l.get("href") for l in links] # grab all the href props in the anchor tags
links = [l for l in links if '/squads/' in l] # store all the urls that include '/squads/' 
links

['/en/squads/b8fd03ef/Manchester-City-Stats',
 '/en/squads/822bd0ba/Liverpool-Stats',
 '/en/squads/cff3d9bb/Chelsea-Stats',
 '/en/squads/18bb7c10/Arsenal-Stats',
 '/en/squads/361ca564/Tottenham-Hotspur-Stats',
 '/en/squads/19538871/Manchester-United-Stats',
 '/en/squads/7c21e445/West-Ham-United-Stats',
 '/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats',
 '/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats',
 '/en/squads/47c64c55/Crystal-Palace-Stats',
 '/en/squads/8602292d/Aston-Villa-Stats',
 '/en/squads/cd051869/Brentford-Stats',
 '/en/squads/b2b47a98/Newcastle-United-Stats',
 '/en/squads/a2d435b3/Leicester-City-Stats',
 '/en/squads/33c895d4/Southampton-Stats',
 '/en/squads/d3fd31cc/Everton-Stats',
 '/en/squads/943e8050/Burnley-Stats',
 '/en/squads/5bfb9659/Leeds-United-Stats',
 '/en/squads/2abfe087/Watford-Stats',
 '/en/squads/1c781004/Norwich-City-Stats']

In [61]:
team_urls = [f"https://fbref.com{l}" for l in links]
team_urls

['https://fbref.com/en/squads/b8fd03ef/Manchester-City-Stats',
 'https://fbref.com/en/squads/822bd0ba/Liverpool-Stats',
 'https://fbref.com/en/squads/cff3d9bb/Chelsea-Stats',
 'https://fbref.com/en/squads/18bb7c10/Arsenal-Stats',
 'https://fbref.com/en/squads/361ca564/Tottenham-Hotspur-Stats',
 'https://fbref.com/en/squads/19538871/Manchester-United-Stats',
 'https://fbref.com/en/squads/7c21e445/West-Ham-United-Stats',
 'https://fbref.com/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats',
 'https://fbref.com/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats',
 'https://fbref.com/en/squads/b2b47a98/Newcastle-United-Stats',
 'https://fbref.com/en/squads/a2d435b3/Leicester-City-Stats',
 'https://fbref.com/en/squads/47c64c55/Crystal-Palace-Stats',
 'https://fbref.com/en/squads/8602292d/Aston-Villa-Stats',
 'https://fbref.com/en/squads/cd051869/Brentford-Stats',
 'https://fbref.com/en/squads/33c895d4/Southampton-Stats',
 'https://fbref.com/en/squads/943e8050/Burnley-Stats',
 'https://fbref.com/en/squads/5bfb9659/Leeds-United-Stats',
 'https://fbref.com/en/squads/d3fd31cc/Everton-Stats',
 'https://fbref.com/en/squads/2abfe087/Watford-Stats',
 'https://fbref.com/en/squads/1c781004/Norwich-City-Stats']

In [62]:
data = requests.get(team_urls[0])

In [34]:
import pandas as pd

In [63]:
matches = pd.read_html(data.text, match="Scores & Fixtures")[0] #read the Scores & Fixtures table as a pandas dataframe
matches.tail()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,xGA,Poss,Attendance,Captain,Formation,Referee,Match Report,Notes
53,2022-05-04,21:00,Champions Lg,Semi-finals,Wed,Away,L,1,3,es Real Madrid,1.7,2.6,53.0,NaN,RÃºben Dias,4-3-3,Daniele Orsato,Match Report,Leg 2 of 2; Real Madrid won; Required Extra Time
54,2022-05-08,16:30,Premier League,Matchweek 36,Sun,Home,NaN,NaN,NaN,Newcastle Utd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN
55,2022-05-11,20:15,Premier League,Matchweek 33,Wed,Away,NaN,NaN,NaN,Wolves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN
56,2022-05-15,14:00,Premier League,Matchweek 37,Sun,Away,NaN,NaN,NaN,West Ham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN
57,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Home,NaN,NaN,NaN,Aston Villa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN

In [66]:
# getting shoots urls

soup = BeautifulSoup(data.text)
links = soup.find_all('a')
links = [l.get("href") for l in links]
links = [l for l in links if l and 'all_comps/shooting/' in l]
links[0]

'/en/squads/b8fd03ef/2021-2022/matchlogs/all_comps/shooting/Manchester-City-Match-Logs-All-Competitions'

In [92]:
data = requests.get(f"https://fbref.com{links[0]}")
data

In [93]:
shooting = pd.read_html(data.text, match="Shooting")[0] # read the Shooting table as a pandas dataframe
shooting.head()

  For Manchester City                                                     \
                 Date   Time              Comp                Round  Day
0          2021-08-07  17:15  Community Shield  FA Community Shield  Sat
1          2021-08-15  16:30    Premier League          Matchweek 1  Sun
2          2021-08-21  15:00    Premier League          Matchweek 2  Sat
3          2021-08-28  12:30    Premier League          Matchweek 3  Sat
4          2021-09-11  15:00    Premier League          Matchweek 4  Sat

                                         ... Standard               Expected  \
     Venue Result GF GA        Opponent  ...     Dist   FK PK PKatt       xG
0  Neutral      L  0  1  Leicester City  ...      NaN  NaN  0     0      NaN
1     Away      L  0  1       Tottenham  ...     16.9  1.0  0     0      1.9
2     Home      W  5  0    Norwich City  ...     17.3  1.0  0     0      2.7
3     Home      W  5  0         Arsenal  ...     14.3  0.0  0     0      3.8
4     Away      W  1  0  Leicester City  ...     14.0  0.0  0     0      2.9

                            Unnamed: 25_level_0
  npxG npxG/Sh G-xG np:G-xG        Match Report
0  NaN     NaN  NaN     NaN        Match Report
1  1.9    0.11 -1.9    -1.9        Match Report
2  2.7    0.17  1.3     1.3        Match Report
3  3.8    0.15  1.2     1.2        Match Report
4  2.9    0.12 -1.9    -1.9        Match Report

[5 rows x 26 columns]

In [94]:
shooting.columns = shooting.columns.droplevel() # dropping clumn level

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Match Report
0,2021-08-07,17:15,Community Shield,FA Community Shield,Sat,Neutral,L,0,1,Leicester City,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,Match Report
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,...,16.9,1.0,0,0,1.9,1.9,0.11,-1.9,-1.9,Match Report
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,...,17.3,1.0,0,0,2.7,2.7,0.17,1.3,1.3,Match Report
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,...,14.3,0.0,0,0,3.8,3.8,0.15,1.2,1.2,Match Report
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,...,14.0,0.0,0,0,2.9,2.9,0.12,-1.9,-1.9,Match Report

In [96]:
shooting.columns

Index(['Date', 'Time', 'Comp', 'Round', 'Day', 'Venue', 'Result', 'GF', 'GA',
       'Opponent', 'Gls', 'Sh', 'SoT', 'SoT%', 'G/Sh', 'G/SoT', 'Dist', 'FK',
       'PK', 'PKatt', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG',
       'Match Report'],
      dtype='object')

In [101]:
team_data = matches.merge(shooting[["Date","Sh","SoT","SoT%","FK","PK"]], on="Date")
team_data.head()
team_data.columns

Index(['Date', 'Time', 'Comp', 'Round', 'Day', 'Venue', 'Result', 'GF', 'GA',
       'Opponent', 'xG', 'xGA', 'Poss', 'Attendance', 'Captain', 'Formation',
       'Referee', 'Match Report', 'Notes', 'Sh', 'SoT', 'SoT%', 'FK', 'PK'],
      dtype='object')

In [102]:
team_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 0 to 53
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          54 non-null     object
 1   Time          54 non-null     object
 2   Comp          54 non-null     object
 3   Round         54 non-null     object
 4   Day           54 non-null     object
 5   Venue         54 non-null     object
 6   Result        54 non-null     object
 7   GF            54 non-null     object
 8   GA            54 non-null     object
 9   Opponent      54 non-null     object
 10  xG            46 non-null     float64
 11  xGA           46 non-null     float64
 12  Poss          54 non-null     float64
 13  Attendance    50 non-null     float64
 14  Captain       54 non-null     object
 15  Formation     54 non-null     object
 16  Referee       54 non-null     object
 17  Match Report  54 non-null     object
 18  Notes         7 non-null      object
 19  Sh            54 non-null     int64
 20  SoT           54 non-null     int64
 21  SoT%          54 non-null     float64
 22  FK            46 non-null     float64
 23  PK            54 non-null     int64
dtypes: float64(6), int64(3), object(15)
memory usage: 10.5+ KB

In [103]:
years = list(range(2022,2020,-1))
all_matches = []

In [104]:
standing_url = "https://fbref.com/en/comps/9/Premier-League-Stats" # home page of fbref.com

In [131]:
import time
for year in years:
    data = requests.get(standing_url)
    soup = BeautifulSoup(data.text)
    standing_table = soup.select("table.stats_table")[0]
    
    links = [l.get("href") for l in standing_table.find_all('a')]
    links = [l for l in links if '/squads/' in l]
    links = [f"https://fbref.com{l}" for l in links]
    
    previous_season = soup.select("a.prev")[0].get("href")
    standing_urls = f"https://fbref.com{previous_season}"
    
    for team_url in team_urls:
        team_name = team_url.split('/')[-1].replace("-Stats","").replace("-"," ")
        
        # getting 'Scores & Fixtures' table
        data = requests.get(team_url)  
        matches = pd.read_html(data.text,match = "Scores & Fixtures")[0]
        
        # getting 'Shooting' table
        soup = BeautifulSoup(data.text)
        links = [l.get("href") for l in soup.find_all('a')]
        links = [l for l in links if l and 'all_comps/shooting/' in l]
        data = requests.get(f"https://fbref.com{links[0]}")
        shooting = pd.read_html(data.text,match = "Shooting")[0]
        shooting.columns = shooting.columns.droplevel()
        
        try:
            team_data = matches.merge(shooting[["Date","Sh","SoT","SoT%","FK","PK"]], on="Date")
        except ValueError:
            continue
        
        team_data = team_data[team_data["Comp"]=="Premier League"]
        team_data["Season"] = year
        team_data["Team"] = team_name
        
        all_matches.append(team_data)
        time.sleep(1)

In [132]:
len(all_matches)

120

In [150]:
match_df = pd.concat(all_matches)

In [151]:
match_df.columns = [c.lower() for c in match_df.columns]

In [159]:
match_df.set_index(pd.Index(list(range(1,4105))))

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,referee,match report,notes,sh,sot,sot%,fk,pk,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,...,Anthony Taylor,Match Report,NaN,18.0,4.0,22.2,1.0,0.0,2022,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,...,Graham Scott,Match Report,NaN,16.0,4.0,25.0,1.0,0.0,2022,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,...,Martin Atkinson,Match Report,NaN,25.0,10.0,40.0,0.0,0.0,2022,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,...,Paul Tierney,Match Report,NaN,25.0,8.0,32.0,0.0,0.0,2022,Manchester City
5,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0,0,Southampton,...,Jonathan Moss,Match Report,NaN,16.0,1.0,6.3,1.0,0.0,2022,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4100,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Away,D,0.0,0.0,Brighton,...,Simon Hooper,Match Report,NaN,6.0,0.0,0.0,0.0,0.0,2021,Norwich City
4101,2022-04-10,14:00,Premier League,Matchweek 32,Sun,Home,W,2.0,0.0,Burnley,...,Michael Oliver,Match Report,NaN,17.0,6.0,35.3,0.0,0.0,2021,Norwich City
4102,2022-04-16,15:00,Premier League,Matchweek 33,Sat,Away,L,2.0,3.0,Manchester Utd,...,Andy Madley,Match Report,NaN,15.0,4.0,26.7,1.0,0.0,2021,Norwich City
4103,2022-04-23,15:00,Premier League,Matchweek 34,Sat,Home,L,0.0,3.0,Newcastle Utd,...,Chris Kavanagh,Match Report,NaN,5.0,2.0,40.0,1.0,0.0,2021,Norwich City
4104,2022-04-30,15:00,Premier League,Matchweek 35,Sat,Away,L,0.0,2.0,Aston Villa,...,John Brooks,Match Report,NaN,10.0,3.0,30.0,0.0,0.0,2021,Norwich City

In [138]:
match_df[["team"]].value_counts()

team
Manchester United           216
Brentford                   210
Brighton and Hove Albion    210
West Ham United             210
Southampton                 210
Newcastle United            210
Arsenal                     204
Manchester City             204
Watford                     204
Tottenham Hotspur           204
Norwich City                204
Liverpool                   204
Leeds United                204
Crystal Palace              204
Chelsea                     204
Burnley                     204
Wolverhampton Wanderers     204
Aston Villa                 198
Leicester City              198
Everton                     198
dtype: int64

In [142]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4104 entries, 1 to 38
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          4104 non-null   object
 1   time          4104 non-null   object
 2   comp          4104 non-null   object
 3   round         4104 non-null   object
 4   day           4104 non-null   object
 5   venue         4104 non-null   object
 6   result        4104 non-null   object
 7   gf            4104 non-null   object
 8   ga            4104 non-null   object
 9   opponent      4104 non-null   object
 10  xg            4104 non-null   float64
 11  xga           4104 non-null   float64
 12  poss          4104 non-null   float64
 13  attendance    4104 non-null   float64
 14  captain       4104 non-null   object
 15  formation     4104 non-null   object
 16  referee       4104 non-null   object
 17  match report  4104 non-null   object
 18  notes         0 non-null      object
 19  sh            4104 non-null   float64
 20  sot           4104 non-null   float64
 21  sot%          4104 non-null   float64
 22  fk            4104 non-null   float64
 23  pk            4104 non-null   float64
 24  season        4104 non-null   int64
 25  team          4104 non-null   object
dtypes: float64(9), int64(1), object(16)
memory usage: 865.7+ KB

In [146]:
match_df = matche_df[["gf","ga"]].to_numeric()

In [178]:
match_df.tail()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,referee,match report,notes,sh,sot,sot%,fk,pk,season,team
34,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Away,D,0.0,0.0,Brighton,...,Simon Hooper,Match Report,NaN,6.0,0.0,0.0,0.0,0.0,2021,Norwich City
35,2022-04-10,14:00,Premier League,Matchweek 32,Sun,Home,W,2.0,0.0,Burnley,...,Michael Oliver,Match Report,NaN,17.0,6.0,35.3,0.0,0.0,2021,Norwich City
36,2022-04-16,15:00,Premier League,Matchweek 33,Sat,Away,L,2.0,3.0,Manchester Utd,...,Andy Madley,Match Report,NaN,15.0,4.0,26.7,1.0,0.0,2021,Norwich City
37,2022-04-23,15:00,Premier League,Matchweek 34,Sat,Home,L,0.0,3.0,Newcastle Utd,...,Chris Kavanagh,Match Report,NaN,5.0,2.0,40.0,1.0,0.0,2021,Norwich City
38,2022-04-30,15:00,Premier League,Matchweek 35,Sat,Away,L,0.0,2.0,Aston Villa,...,John Brooks,Match Report,NaN,10.0,3.0,30.0,0.0,0.0,2021,Norwich City

In [236]:
# cleaning the "gf" column 
gf= []
for i in range(0,4104):
    gf.append(f"{match_df.iloc[[i],[7]]}")
    gf[i] = gf[i].strip().split(' ')[-1].split('.')[0]
    
# cleaning the "ga" column 
ga= []
for i in range(0,4104):
    ga.append(f"{match_df.iloc[[i],[8]]}")
    ga[i] = ga[i].strip().split(' ')[-1].split('.')[0]

In [237]:
match_df.drop("gf", axis=1)
match_df.drop("ga", axis=1)
match_df["gf"] = gf
match_df["ga"] = ga

In [250]:
match_df.iloc[:,13:16].set_index(pd.Index(list(range(0,4104))))

      attendance         captain formation
0        58262.0     Fernandinho     4-3-3
1        51437.0  Ä°lkay GÃ¼ndoÄan     4-3-3
2        52276.0  Ä°lkay GÃ¼ndoÄan     4-3-3
3        32087.0  Ä°lkay GÃ¼ndoÄan     4-3-3
4        52698.0     Fernandinho     4-3-3
...          ...             ...       ...
4099     31245.0    Grant Hanley    4-4-2â
4100     26361.0    Grant Hanley   4-2-3-1
4101     73381.0    Grant Hanley   4-2-3-1
4102     26910.0    Grant Hanley   4-2-3-1
4103     40290.0    Grant Hanley   4-2-3-1

[4104 rows x 3 columns]

In [252]:
import re
def remove_emojis(data):
    emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+", re.UNICODE)
    return re.sub(emoj, '', data)

In [265]:
formation = []
for i in range(0, 4104):
    formation.append(f"{match_df.iloc[[i],[15]]}".strip().split(' ')[-1])
    formation[i] = remove_emojis(formation[i])

In [267]:
match_df.drop("formation", axis = 1)
match_df["formation"] = formation

4-3-3      1014
4-2-3-1     864
4-4-2       630
3-4-3       600
3-5-2       432
4-1-4-1     204
4-4-1-1     138
3-4-1-2      90
4-5-1        66
4-2-2-2      30
4-3-2-1      18
3-5-1-1      18
Name: formation, dtype: int64

In [273]:
match_df = match_df.iloc[:,0:26]

In [284]:
match_df = match_df.drop("notes", axis = 1)

In [285]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4104 entries, 1 to 38
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          4104 non-null   object
 1   time          4104 non-null   object
 2   comp          4104 non-null   object
 3   round         4104 non-null   object
 4   day           4104 non-null   object
 5   venue         4104 non-null   object
 6   result        4104 non-null   object
 7   gf            4104 non-null   object
 8   ga            4104 non-null   object
 9   opponent      4104 non-null   object
 10  xg            4104 non-null   float64
 11  xga           4104 non-null   float64
 12  poss          4104 non-null   float64
 13  attendance    4104 non-null   float64
 14  captain       4104 non-null   object
 15  formation     4104 non-null   object
 16  referee       4104 non-null   object
 17  match report  4104 non-null   object
 18  sh            4104 non-null   float64
 19  sot           4104 non-null   float64
 20  sot%          4104 non-null   float64
 21  fk            4104 non-null   float64
 22  pk            4104 non-null   float64
 23  season        4104 non-null   int64
 24  team          4104 non-null   object
dtypes: float64(9), int64(1), object(15)
memory usage: 962.7+ KB

In [275]:
match_df.to_csv("match.csv")

In [288]:
match_df[["season"]].value_counts()

season
2021      2052
2022      2052
dtype: int64

In [289]:
match_df[["team"]].value_counts()

team
Manchester United           216
Brentford                   210
Brighton and Hove Albion    210
West Ham United             210
Southampton                 210
Newcastle United            210
Arsenal                     204
Manchester City             204
Watford                     204
Tottenham Hotspur           204
Norwich City                204
Liverpool                   204
Leeds United                204
Crystal Palace              204
Chelsea                     204
Burnley                     204
Wolverhampton Wanderers     204
Aston Villa                 198
Leicester City              198
Everton                     198
dtype: int64

In [290]:
match_df[["round"]].value_counts()

round
Matchweek 1     120
Matchweek 24    120
Matchweek 8     120
Matchweek 7     120
Matchweek 6     120
Matchweek 5     120
Matchweek 4     120
Matchweek 35    120
Matchweek 34    120
Matchweek 32    120
Matchweek 31    120
Matchweek 3     120
Matchweek 29    120
Matchweek 28    120
Matchweek 10    120
Matchweek 25    120
Matchweek 26    120
Matchweek 23    120
Matchweek 17    120
Matchweek 11    120
Matchweek 12    120
Matchweek 13    120
Matchweek 14    120
Matchweek 15    120
Matchweek 16    120
Matchweek 9     120
Matchweek 19    120
Matchweek 2     120
Matchweek 20    120
Matchweek 22    108
Matchweek 18    108
Matchweek 30    108
Matchweek 21    108
Matchweek 27    108
Matchweek 33     72
Matchweek 37     12
dtype: int64